html, body {
    padding: 0;
    margin: 0;
}


body{
background-color: #b07cf7;

}





.text{
    color: #fff;
    margin: 0 auto;
    width: 570px;
    height: 220px;
    text-align: center;
  
    
    
}
h1 {
    text-align: center;
    font-size: 90px;
line-height: 25px;
color: #ffffff;

font-family: "Raleway";

}
.title {
    width: 570px;
    height: 63px;
    font-size: 17px;
    line-height: 25px;
    color: #ffffff;
    font-weight: 300;
    font-family: "Raleway";
    text-align: center;

}

.conteiner{
margin: 0 auto;
    width: 1170px;
display: flex;
justify-content: space-around;

}

.item{
    width: 370px;
    height: 310px;
    background-color: red;
    box-sizing: border-box;
    position: relative;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    

}


.item-1{

    background: url(/assets/img.png)center no-repeat ;
    background-size: cover;
}
.item-2{

    background: url(/assets/img3.png) center no-repeat ;
    background-size: cover ;
}

.item-3{

    background: url(/assets/img2.png) center no-repeat ; 
    background-size: cover;
}
.data{
    height: 60px;
    width: 60px;
    
    border-radius: 4px;
    position: absolute;
    left: 30px;
    top: 30px;
    background: url(/assets/bg.png);
    box-sizing: border-box;
    text-align: center;

}
span{
    font-size: 32px;
line-height: 25px;
color: #ffffff;
font-weight: 700;
font-family: "Raleway";

}

.month{

    font-size: 21px;
line-height: 25px;
color: #ffffff;
font-family: "Raleway";
opacity: ;
}

.content{

    height: 100px;
    width: 100%;
  
    position: absolute;
    top: 209px;
    text-align: left;

}

.title-text{
    font-size: 20px;
line-height: 25px;
color: #ffffff;
font-weight: 700;
font-family: "Raleway";
position: absolute;
left: 23px;
bottom: 60px;


}

.title-end{
    font-size: 10px;
    line-height: 10px;
    color: #ffffff;
    font-weight: lighter;
    font-family: "Raleway";
   
    text-align: right;
    position: absolute;
left: 23px;
bottom: 27px;

}
footer{
margin: 50px auto 0px auto;
text-align: center;
}

button{
    margin: 0 auto;

    font-size: 20px;
line-height: 25px;
color: #ffffff;
font-weight: 300;
font-family: "Raleway";

height: 55px;
width: 200px;
box-sizing: border-box;
text-align: center;
background-color: #f72b3b;


}