html, body {
    margin: 0;
    padding: 0;
}

body {
    background-color: #e2e7ec;
}

.conteiner {
    width: 1140px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.item {
    margin: 10px;
    height: 540px;
    background-color: #fff;
    width: calc(33% - 20px);
}

.col-2 {
    width: calc(66% - 20px);
}

.item .poster {
    height: 250px;
    background-position: center;
    background-repeat: no-repeat;
}

.item .content {
    padding: 25px 27px;
    height: 292px;
    box-sizing: border-box;
    position: relative;
}

.content-bot {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 40px 50px;
    box-sizing: border-box;
}

h2 {
    color: #fff;
    font-size: 30px;
    margin: 0;
}

.date {
    font-size: 13px;
    color: #9c9892;
}

.title {
    font-size: 22px;
    color: #000000;
    margin: 22px 0 70px 0;
}

.title-2 {
    margin: 35px 0 72px 0;
}

.avatar {
    position: absolute;
    bottom: 25px;
    left: 28px;
}

.av {
    height: 54px;
    width: 54px;
    display: block;
}